@model Zeun.Web.Models.OgrenciOzlukBilgileriViewModel
@{
    Layout = "~/Views/Shared/_OgrenciLayout.cshtml";
}



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BolumMufredati</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }

        .card {
            margin-top: 20px;
        }

        .card-header {
            background-color: #7795aa;
            color: white;
        }

        .table-responsive {
            margin-top: 20px;
        }

        .table tbody tr:hover {
            background-color: #e0f7fa;
            cursor: pointer;
        }
    </style>
</head>

<body>
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Öğrenci Bölüm Müfredatı</h4>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="akademikYil">Akademik Yıl:</label>
                            <select class="form-control" id="akademikYil">
                                @foreach (var akademikYil in Model.AkademikYil)
                                {
                                    <option>@akademikYil.AkademikYil1</option>
                                }
                            </select>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Ders Kodu</th>
                                        <th>Ders Adı</th>
                                        <th>Ders Türü</th>
                                        <th>Ders Dili</th>
                                        <th>Teorik (T)</th>
                                        <th>Uygulama (U)</th>
                                        <th>Dersin Dönemi</th>
                                        <th>Kredi (K)</th>
                                        <th>ECTS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ders in Model.DersHavuzu)
                                    {
                                      
                                        <tr>
                                            <td>@ders.DersKodu</td>
                                            <td>@ders.DersAdi</td>
                                            <td>@Model.DersTuru[Model.DersHavuzu.IndexOf(ders)].DersTuru1</td>
                                            <td>@Model.DersDili[Model.DersHavuzu.IndexOf(ders)].DersDili1</td>
                                            <td>@ders.Teorik</td>
                                            <td>@ders.Uygulama</td>
                                            <td>@Model.Mufredat[Model.DersHavuzu.IndexOf(ders)].DersDonemi</td>
                                            <td>@ders.Kredi</td>
                                            <td>@ders.Ects</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>