@model Zeun.Web.Models.OgrenciOzlukBilgileriViewModel
@{
    Layout = "~/Views/Shared/_OgrenciLayout.cshtml";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öğrenci Sınav Takvimi</title>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 12px;
            font-size: 14px;
        }

        th {
            background-color: #7795aa;
        }

        .highlight {
            background-color: #e6f7ff;
            text-align: center;
        }

        tr:hover {
            background-color: #e0f7fa;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <h2>Öğrenci Sınav Takvimi</h2>

    <table>
        <thead>
            <tr class="highlight">
                <th>Ders Kodu</th>
                <th>Ders Adı</th>
                <th>Sınav Türü</th>
                <th>Sınav Günü ve Saati</th>
                <th>Derslik Adı</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var sinav in Model.Sinav){
            <tr>
                    <td>@Model.DersHavuzu[Model.Sinav.IndexOf(sinav)].DersKodu</td>
                    <td>@Model.DersHavuzu[Model.Sinav.IndexOf(sinav)].DersAdi</td>
                    <td>@Model.SinavTuru[Model.Sinav.IndexOf(sinav)].SinavTuru1</td>
                <td>@sinav.SinavTarihi , @sinav.SinavSaati</td>
                    <td>@Model.Derslik[Model.Sinav.IndexOf(sinav)].DerslikAdi</td>
            </tr>
    }
        </tbody>
    </table>

</body>

